{% load staticfiles %}
<html>
<head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<title>Astrals Workbench</title></head>
 <body> 
<h1><div class="header" >

<a href"/">Team Astrals</a></div></h1>
<div class="blog">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1> <div class="posthead"> {{ post.title }} </div></h1>
        <p><div class="content">{{ post.text|linebreaksbr }}</div></p>
    </div><div id="footer">
<p><em>Developed by &copy Astrode Labs, 2017</em><br>Project Astrals :-)</p>
</div>
</body>
</html>
